.container{
	max-width: 1170px;
	margin:auto;
	font-weight: 500;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
	padding-inline-start: 40px;
}
.footer{
	background-color: #0E171F;

  padding: 10px 0 70px 0px ;
}
.footer-col{
   width: 25%;  
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	margin-left: 2em;
	font-weight: 600;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
	font-weight: bold;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;

}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 400;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links i:hover{
	color: #24262b;
	background-color: #ffffff;
	border-radius: 50%;
}
.bottom{
	background-color: #092442;
	text-align: center;
	color: #fff;
	padding:1em 0 ;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




