@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;1,300;1,500&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
}

header{
  color: white;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #094D8E;
  width: 100%;
}
.navcolor{
	color: White;

}
.left{
	width: 100%;
}
.right{
	width: 100%;
 margin-right:0px ;
}